.histories {
  .histories-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      margin: 1rem;
    }
    .histories-contents {
      width: 100%;
      max-width: 1220px;

      min-height: 800px;
      max-height: 2000px;
      overflow-y: auto;

      border-radius: 4px;
    }
  }

  @import "./history";
}
